
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
/* ---- background ---- */

.main-background {
  background: url("./images/fat.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}  
.game-over-background {
  background: url("./images/Face GIF-source.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
} 

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}
.main-title, 
.main-buttons,
.restart,
.game-over-title,
.score {
  font-family: 'Press Start 2P';
}

/* ---- main-title ---- */

.main-title,
.game-over-title {
  text-align: center;
  margin-top: 150px;
}

.main-background h1 {
  background: white;
  padding: 5px
}

/* ---- main-buttons ---- */
.main-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
}
.start-game,
.restart {
  padding: 10px;
  color: #c0392b;
}
.instructions {
  color: #f1c40f;
}


/* ---- game-over ---- */
.game-over-text {
text-align: center;
margin-top: 150px;
}
.game-over-text p {
  margin-bottom: 80px;
  font-size: 40px;
}
.game-over-background h1{
font-size: 80px;
}


#canvas {
    margin: 100px 250px;
    border: 3px solid grey;
    padding: 10px;
}

.rapha {
    background: url("./images/nyc street GIF-source.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}